.quote{
font-size: 55px;
    font-family: monospace;
    color: #9d633a;
}
a:hover{
    color: #bb7952;
}
a{
    color: #ffe1b9;
}
.cofcard{
    display: inline-block;
    border: 5px solid black;
    padding: 20px;
    background-color: #0c0601;
    
}
.cofimg{
    object-fit: cover;
    width: 400px;
    height: 500px;
}
div{
    word-wrap: break-word;
}